<ion-view view-title="Add Event">
  <ion-content>
    <h1>Add Event</h1>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Name of the Event</span>
        <input type="text" placeholder="John">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Details</span>
        <input type="text" placeholder="Suhr">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="john@suhr.com">
      </label>
    </div>
    <form>
      <input type="text" ng-model="location" placeholder="location">
      <input type="text" ng-model="activity" placeholder="activity">
      <button type="submit" ng-click="search(location, activity)">Submit</button>
    </form>
  </ion-content>
</ion-view>
