<ion-view title="Login/Logout" hide-back-button="true" style="background: #254C7C">
  <ion-content>
      <h1> </h1>

      <div ng-hide="isLoggedIn" class="card" ng-click="login()">
        <button class="item">
          Log In with Facebook
        </button>
      </div>
      <div class="card" ng-show="isLoggedIn">
        <div class="item item-text-wrap">
          Welcome {{ displayName }}!
        </div>
        <button class="item" ng-click="logout()">
          Log Out
        </button>
      </div>

    </ion-content>
</ion-view>