<ion-view title="join.me" hide-back-button="true" style="background: #1e5162">
      <h1>User Login</h1>

      <div ng-hide="isLoggedIn" class="card" ng-click="login()">
        <button class="item">
          Log In with Facebook
        </button>
      </div>
      <div class="card" ng-show="isLoggedIn">
        <div class="item item-text-wrap">
          Welcome {{ displayName }}!
        </div>
        <button class="item" ng-click="logout()">
          Log Out
        </button>
      </div>

    </ion-content>

</ion-view>